<div class="page-header">
  <h3>Friend #<%= @friend.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Users</dt>
      <dd>
        <% if @friend.users.present? %>
          <a href="/users/<%= @friend.users_id %>">
            <%= @friend.users.email %>
          </a>
        <% end %>
      </dd>

      <dt>First name</dt>
      <dd><%= @friend.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @friend.last_name %></dd>

      <dt>Email</dt>
      <dd><%= @friend.email %></dd>

      <dt>Password</dt>
      <dd><%= @friend.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/friends" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>
