<div class="page-header">
  <h3>Photo #<%= @photo.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @photo.description %></dd>

      <dt>Users</dt>
      <dd>
        <% if @photo.users.present? %>
          <a href="/users/<%= @photo.users_id %>">
            <%= @photo.users.email %>
          </a>
        <% end %>
      </dd>

      <dt>Comments</dt>
      <dd><%= @photo.comments_id %></dd>

      <dt>Friend</dt>
      <dd><%= @photo.friend_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/photos" class="btn btn-primary">
        Back
      </a>
      <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Photo has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @photo.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.users_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for users_id -->
      <div class="form-group">
        <label for="users_id" class="control-label">
          Users
        </label>

        <%= select_tag(:users_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="">
      </div>

      <!-- Label and input for photos_id -->
      <div class="form-group">
        <label for="photos_id" class="control-label">
          Photos
        </label>

        <%= select_tag(:photos_id, options_from_collection_for_select(Photo.all, :id, :description), :class => "form-control") %>
      </div>

      <!-- Label and input for friend_id -->
      <div class="form-group">
        <label for="friend_id" class="control-label">
          Friend
        </label>

        <input type="text" id="friend_id" name="friend_id" placeholder="Friend" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Photo has many likes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Likes
      </li>

      <% @photo.likes.each do |like| %>
        <li class="list-group-item">
          <a href="/likes/<%= like.id %>">
            <%= like.users_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/likes/<%= like.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/likes/<%= like.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_like/<%= like.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_like" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for users_id -->
      <div class="form-group">
        <label for="users_id" class="control-label">
          Users
        </label>

        <%= select_tag(:users_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for photos_id -->
      <div class="form-group">
        <label for="photos_id" class="control-label">
          Photos
        </label>

        <%= select_tag(:photos_id, options_from_collection_for_select(Photo.all, :id, :description), :class => "form-control") %>
      </div>

      <!-- Label and input for comments_id -->
      <div class="form-group">
        <label for="comments_id" class="control-label">
          Comments
        </label>

        <%= select_tag(:comments_id, options_from_collection_for_select(Comment.all, :id, :users_id), :class => "form-control") %>
      </div>

      <!-- Label and input for friend_id -->
      <div class="form-group">
        <label for="friend_id" class="control-label">
          Friend
        </label>

        <input type="text" id="friend_id" name="friend_id" placeholder="Friend" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Like
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
